.container {
  padding: 1rem 1rem;
  background-color: #194c33;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  width: max-content;
  color: #fff;
}

.container:hover {
  background-color: #379b69;
}
