.container {
  height: 10vh;
  display: flex;
  font-size: 0.8rem;
  justify-content: space-between;
  align-items: center;
}

.social {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.icon {
  opacity: 0.6;
  cursor: pointer;
}

.icon:hover {
  opacity: 1;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    justify-content: center;
  }

  .social {
    margin-top: 1rem;
  }
}
